aiogram
aiohttp
alembic
asyncpg
email-validator
fastapi
fastapi-cli
fastapi-users
fastapi-users-db-sqlalchemy
greenlet
gunicorn
httpx
jinja2
mako
psycopg2-binary
pydantic
python-dotenv
redis
requests
shellingham
sqlalchemy
uvicorn
websockets
yookassa
